/*This file contains any manual css for this page that needs to override the global styles.
This is only required when different pages style the same element differently. This is just
a hack to deal with our current css styles and no new styling should be added in this file.*/
/* CSS stylesheet to make paragraphs justified, create lists with subitem numbering 
and highlight words in gray with font-family monospace */

:root {
    --global-shadow-effect: 10px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.container {
    width: 95% !important;
}

#centralizar {
    text-align: center;
}

p.justified {
    text-align: justify;
    font-size: 11pt;
}

mark.mono_gray {
    background-color: #f0f0f0;
    font-family: monospace;
    border: 0.5px solid #000000;
    border-radius: 5px;
    padding: 0.1px;
}

mark.mono_gray:hover {
    animation-name: lightening;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes lightening {
    100% {
        background-image: linear-gradient(to bottom,#31A354 /*rgb(0,149,221, 0.3)*/, rgb(0,149,221, 1));
        color: #FFFFFF;
    }
}

ol.sub-item { 
    counter-reset: item;
    text-align: justify;
}

li.sub-item {
    display: block;
    text-align: justify;
}

li.sub-item:before {
    content: counters(item, ".") ". "; 
    counter-increment: item;
    text-align: justify;
    font-weight: bold;
}

ol.ref {
    counter-reset: item;
    text-align: justify;
}

li.ref {
    display: block;
    text-align: justify;
}

li.ref:before {
    content: "[" counters(item, ".") "] ";
    counter-increment: item;
    text-align: justify;
    font-weight: bold;
}

div.exercise {
    background-color: rgba(137,207,240,0.3);
    color: rgba(0,128,255);
    border: 0.5px solid rgba(0,128,255);
    border-radius: 5px;
    padding: 3px;
}

div.answer {
    background-color: rgba(76,187,23,0.3);
    color: rgba(11,102,35);
    border: 0.5px solid rgba(11,102,35);
    border-radius: 5px;
    padding: 3px;
}

img.aw {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: var(--global-shadow-effect);
    margin: 20px 0;
}