/*This file contains any manual css for this page that needs to override the global styles.
This is only required when different pages style the same element differently. This is just
a hack to deal with our current css styles and no new styling should be added in this file.*/
/* CSS stylesheet to make paragraphs justified, create lists with subitem numbering 
and highlight words in gray with font-family monospace */

.container {
    width: 95% !important;
}

p.justified {
    text-align: justify;
    font-size: 11pt;
}

mark.mono_gray {
    background-color: #f0f0f0;
    font-family: monospace;
    border: 0.5px solid #000000;
    border-radius: 5px;
    padding: 2px;
}

mark.mono_gray:hover {
    animation-name: lightening;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes lightening {
    100% {
        background-image: linear-gradient(to bottom,#31A354 /*rgb(0,149,221, 0.3)*/, rgb(0,149,221, 1));
        color: #FFFFFF;
    }
}

ol.sub-item { 
    counter-reset: item;
    text-align: justify;
}

li.sub-item {
    display: block;
    text-align: justify;
}

li.sub-item:before {
    content: counters(item, ".") ". "; 
    counter-increment: item;
    text-align: justify;
    font-weight: bold;
}